@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", monospace;
  background-color: #fef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  padding: 50px 100px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-conteudo h1 {
  color: #000;
}

.login-conteudo h2 {
  color: #956dd4;
}

.login-conteudo form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-email,
.input-senha {
  background-color: #fff;
  width: 250px;
  padding: 12px 15px;
  border: 2px solid #d1c4e9;
  border-radius: 25px;
  outline: none;
  transition: 0.3s ease;
}

.input-email:focus,
.input-senha:focus {
  border-color: #7b5eea;
  box-shadow: 0 0 8px rgba(123, 94, 234, 0.3);
}

.btn-login {
  background-color: #b294e4;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-login:hover {
  background-color: #956dd4;
  transform: scale(1.05);
}

.error {
  color: red;
  text-align: center;
  font-size: 14px;
}
