.dashboard {
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif; 
}

.menu-lateral {
  position: fixed;             
  top: 0;
  left: 0;
  height: 100vh;              
  width: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.menu-lateral h1 {
  font-size: 1.2rem;
  color: #5e4ae3;
  margin-bottom: 2rem;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.menu-lateral li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.menu-lateral a {
  text-decoration: none;
  color: #5e4ae3;
  font-weight: 500;
  min-width: 100%;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.menu-lateral a:hover,
.menu-lateral a.active {
  background-color: #dcd0ff;
}

.conteudo-dashboard {
  min-height: 100%;
    border-radius: 20px;
    margin: 70px;
    min-width: 100%;
    flex: 1;
    padding: 2rem 3rem;
    color: #333;
    background-color: #fff;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.conteudo-dashboard h1 {
  color: #5e4ae3;
  margin-bottom: 0.5rem;
}

.conteudo-dashboard h2 {
  color: #7a7a7a;
  font-size: 1rem;
  margin-bottom: 2rem;
  
}

.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.etapas-container,
.prod-container {
  background-color: #ede6ff;
  border-radius: 16px;
  padding: 1.5rem;
  flex: 1;
  min-width: 250px;
}

h3 {
  color: #5e4ae3;
  font-size: 1rem;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0.5rem 0;
  font-size: 0.9rem;
  border-bottom: 1px solid #dcd0ff;
}

.prod-container p {
  font-size: 0.95rem;
  margin: 0.3rem 0;
  color: #444;
}

.graficos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.grafico {
  border-radius: 12px;
  padding: 1rem;
  width: 30%;
  text-align: center;
}

.resumo-rapido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card-resumo {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.card-resumo h4 {
  margin: 0 0 1rem 0;
  color: #5b4b7a;
  font-size: 0.9rem;
}

.numero-grande {
  font-size: 2.5rem;
  font-weight: bold;
  color: #7b5bf0;
}

.carregando {
  text-align: center;
  padding: 3rem;
  color: #a79ccf;
  font-style: italic;
}